.tronlink-container {
    text-align: center;
    padding: 100px;

    h2 {
        font-size: 28px;
        font-weight: 300;
    }

    p {
        opacity: .6;
    }

    button {
        margin-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
        line-height: 3;
    }
}
